@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
	--theme-color: #fdfdfd;
	--secondary-color: #f0f0f0cc;
	--head-color: #101010;
	--text-color: #444444;
	--bg-color: #664e3e;
	--bg-color-light: #c9baa2;
	--card-text-color: #4c5656;
	--text-color-hover: #c9baa2;
	--box-shadow-color: #0000002b;
	--about-bg: #c8c8c81a;
	--social-bg: #c8c8c8a4;
}

.dark {
	--theme-color: #101010;
	--secondary-color: #1e1e1ecc;
	--head-color: #fdfdfd;
	--text-color: #f2f2f2;
	--card-text-color: #837a73;
	--about-bg: #55555580;
	--social-bg: #555555a4;
}

body {
	width: 100%;
	min-height: 100vh;
	background-image: url(../img/light.png);
	color: var(--bg-color);
}
.title {
	display: flex;
	justify-content: center;
}
.title h1 {
	text-transform: capitalize;
	letter-spacing: 0.5mm;
	font: 800 4rem Inconsolata;
}

.researchs-containerR {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-left: 15%;
}

.researchs-containerL {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	width: 100%;
	padding-left: 90px;
}

.event-card {
	display: flex;
	flex-direction: column;
	width: 768px;
	background-color: var(--secondary-color);
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 30px 0;
	transition: transform 0.2s ease-in-out;
}

.event-card:hover {
	transform: translate(5px, -5px);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.event-banner {
	width: 100%;
	aspect-ratio: 1/1;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	max-height: 600px;
}

.event-card h2 {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--text-main);
	padding: 5px 0;
}

.event-card p {
	font-size: 1.2rem;
	color: var(--text-secondary);
}

.upcoming {
	font-size: 1.8rem;
	color: var(--text-secondary);
	text-align: center;
	margin-top: 30px;
}

@media screen and (max-width: 768px) {
	.event-card {
		width: 80%;
	}

	.event-card h2 {
		font-size: 1.2rem;
	}

	.event-card p {
		font-size: 1rem;
	}
}

@media screen and (max-width: 480px) {
	.event-card {
		width: 90%;
	}

	.event-card h2 {
		font-size: 1.1rem;
	}

	.event-card p {
		font-size: 0.9rem;
	}
}
