@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --theme-color: #fdfdfd;
  --secondary-color: #f7f7f7cc;
  --head-color: #101010;
  --text-color: #444444;
  --bg-color: #664E3E;
  --bg-color-light: #C9BAA2;
  --card-text-color: #4C5656;
  --text-color-hover: #C9BAA2;
  --box-shadow-color: #0000002b;
  --about-bg: #c8c8c81a;
  --social-bg: #c8c8c8a4;
}

.dark {
  --theme-color: #101010;
  --secondary-color: #1e1e1ee6;
  --head-color: #fdfdfd;
  --text-color: #f2f2f2;
  --card-text-color: #837a73;
  --about-bg: #55555580;
  --social-bg: #555555a4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata";
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/light.png);
  color: var(--text-color);
}

/* dark mode */

.toggle-container {
  position: relative;
  margin: 20px 20px 20px 0;
  font-size: 25px;
  cursor: pointer;
  display: flex;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  position: relative;
  border-radius: 100px;
  margin: 0;
  width: 50px;
  height: 22px;
  border: 1px solid var(--text-color);
  background: var(--social-bg);
  text-indent: -9999px;
  cursor: pointer;
}

label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  background: var(--text-color);
  border-radius: 50%;
  transition: 0.3s;
}

input:checked+label {
  background: var(--social-bg);
}

input:checked+label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

/* custom scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--text-color);
}

::-webkit-scrollbar-track {
  background-color: var(--theme-color);
  border-radius: 10px;
}

/* navbar */

.nav-bar {
  width: 100%;
  background-color: var(--secondary-color);
  justify-content: center;
}

.navbar {
  transition: all 1s linear;
}

.nav-bar .iconify-inline {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  padding: 2px;
  margin: 14px;
  text-decoration: none;
  color: var(--head-color);
}

.navbar ul li a {
  text-decoration: none;
  font: 800 22px "Nunito";
  color: var(--text-color);
  text-transform: capitalize;
}

.nav-bar img {
  width: 300px;
  padding: 10px 0;
  margin-right: auto;
  margin-left: 50px;
}

/* Home page */

.homepage {
  width: 100%;
  height: 100vh;
}

.bg-video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  object-position: center;
  object-fit: cover;
  border: none;
}

.homepage h1 {
  font: 800 80px "Inconsolata";
  z-index: 2;
  color: #000;
}

.homepage p {
  color: #000;
  z-index: 2;
  font: 600 30px "Inconsolata";
}

.title {
  padding: 80px 0 25px 0;
  color: var(--text-color);
}

.title h2 {
  text-transform: capitalize;
  letter-spacing: 0.5mm;
  font: 800 4rem "Inconsolata";
}

.title p {
  letter-spacing: 0.5mm;
  font: 700 1.2rem "Inconsolata";
}

/* About */
.about p {
  padding: 20px;
  font: 400 1rem "Inconsolata";
  line-height: 1.5;
  letter-spacing: 0.2mm;
  color: var(--text-color);
  background: var(--about-bg);
}

.stat {
  width: 100%;
  min-height: 200px;
  margin: 0 10px;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--about-bg);
  color: var(--text-color);
}

.stat span {
  font: 900 30px "Inconsolata";
}

.stat h3 {
  font: 900 22px "Inconsolata";
  letter-spacing: 0.5mm;
  margin: 10px;
}

.stat .iconify {
  font-size: 50px;
  margin: 10px;
}

/* Domain */
.domains {
  position: relative;
  width: 100%;
  height: auto;
}

.col-md-4 {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.card {
  width: 100%;
  min-height: 450px;
  position: relative;
  background: var(--theme-color);
  border: none;
  border-radius: 0 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
}

.card:hover,
.card2:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0) !important;
  box-shadow: 0 24px 36px #0000001c,
    0 24px 46px var(--box-shadow-color);
}

.card .iconify-inline {
  position: absolute;
  font-size: 50px;
  text-align: center;
  transform: translateZ(0);
  z-index: 999;
  color: var(--theme-color);
}

.card:hover .iconify-inline {
  color: var(--head-color);
}

.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: var(--theme-color);
  border: 2px solid var(--bg-color);
  display: flex;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  z-index: 1;
  transition: all 0.5s ease-out;
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  transition: opacity 0.5s ease-out;
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

.card h4 {
  letter-spacing: 0.3mm;
  font: 700 20px "Inconsolata";
  color: var(--card-text-color);
  margin-top: 200px;
  z-index: 1000;
  transition: color 0.5s ease-out;
}

.card p {
  font-size: 17px;
  text-align: justify;
  color: var(--card-text-color);
  z-index: 1000;
  padding: 10px 30px;
  transition: color 0.5s ease-out;
}

.card:hover p,
.card:hover h4 {
  color: var(--text-color-hover);
}

.overlay {
  width: 115px;
  height: 115px;
  top: 50px;
  position: absolute;
  border-radius: 50%;
  background: var(--bg-color);
  transition: transform 0.5s ease-out;
}

.card:hover .overlay {
  transform: scale(8);
}

/* leads */

.lead {
  width: 100%;
  height: auto;
}

.card2 {
  width: 90%;
  height: 100%;
  position: relative;
  background: var(--theme-color);
  border: none;
  border-radius: 0 10px;
  box-shadow: 0 14px 26px #0000000a;
  /* transition: all 0.3s ease-out; */
  overflow: hidden;
}

.card2 img {
  height: 100%;
  width: 100%;
}

.card-blur {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--text-color);
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.card2:hover .card-blur {
  opacity: 0.3;
}

.txt-box {
  display: flex;
  align-items: center;
  height: 150px;
  width: 100%;
  padding: 5px 20px;
  z-index: 1;
  position: absolute;
  border-radius: 0 90% 0 0;
  bottom: 0;
  background-color: var(--theme-color);
  transform: translateY(200px);
  transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
}

.card2:hover .txt-box {
  transform: translateY(0px);
}

.connections {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 160px;
  margin: 0 20px;
}

.connection {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: var(--theme-color);
  display: inline-block;
  position: relative;
  padding: 5px;
  margin-right: 20px;
  transform: translateY(200px);
  transition: transform 1s cubic-bezier(.46, 1.48, .18, .81), background-color 0.5s;
  z-index: 100;
}

.card2:hover .info {
  transform: translateY(0px);
}

.connection:hover:first-child {
  background-color: #0083c9;
}

.connection:hover:nth-child(2) {
  background-color: #ffffff;
}

.connection:hover:last-child {
  background-color: #34A853;
}


.card2:hover .connection:first-child {
  transform: translateY(0px);
}

.card2:hover .connection:nth-child(2) {
  transform: translateY(5px);
}

.card2:hover .connection:last-child {
  transform: translateY(10px);
}

.connection:first-child {
  transition-delay: -0.06s;
}

.connection:last-child {
  transition-delay: 0.12s;
}

.connection .iconify-inline {
  display: block;
  height: 20px;
  width: 20px;
  color: var(--head-color);
  transition: all 250ms;
}

.connection:hover .iconify-inline {
  color: var(--theme-color);
}

.info {
  transform: translateY(250px);
  color: var(--text-color);
  transition: transform 1s cubic-bezier(.31, 1.21, .64, 1.02);
}

.info h4,
.info p {
  margin: 0;
  padding: 0;
}

.info h4 {
  font-size: 17px;
}

.info p {
  font-size: 14px;
  padding-right: 50px;
}

.info p:last-child {
  text-align: end;
}

/* contacts */

.socials ul li a {
  position: relative;
  border-radius: 50%;
  margin: 0 10px;
  text-decoration: none;
  font-size: 35px;
  color: var(--head-color);
  padding: 10px;
  display: grid;
  place-items: center center;
  background: var(--social-bg);
  transition: all 250ms;
}

.socials .linkedin:hover,
.socials .linkedin:hover .tool-tip,
.socials .linkedin:hover .tool-tip::before {
  background-color: #0083c9;
  color: var(--theme-color);
}

.socials .instagram:hover,
.socials .instagram:hover .tool-tip,
.socials .instagram:hover .tool-tip::before {
  background-color: #e1306c;
  color: var(--theme-color);
}

.socials .youtube:hover,
.socials .youtube:hover .tool-tip,
.socials .youtube:hover .tool-tip::before {
  background-color: #de463b;
  color: var(--theme-color);
}

.socials .gmail:hover,
.socials .gmail:hover .tool-tip,
.socials .gmail:hover .tool-tip::before {
  background-color: #34A853;
  color: var(--theme-color);
}

.socials .github:hover,
.socials .github:hover .tool-tip,
.socials .github:hover .tool-tip::before {
  background-color: #333333;
  color: var(--theme-color);
}

.tool-tip {
  position: absolute;
  top: 0;
  font: 700 15px "Inconsolata";
  letter-spacing: 0.3mm;
  padding: 5px 8px;
  border-radius: 5px;
  color: #f2f2f2 !important;
  box-shadow: 0 10px 10px #0000001a;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tool-tip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.socials ul li a:hover .tool-tip {
  top: -40px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* footer */

.footer {
  color: var(--text-color);
  font: 600 17px "Inconsolata";
  padding: 15px 0;
  background: var(--secondary-color);
}

.footer a {
  color: var(--bg-color);
}

/* responsive */

@media screen and (max-width: 992px) {
  .toggle-container {
    position: absolute;
    top: 0;
    right: 60px;
    margin: 20px 10px 20px 0;
  }

  .navbar {
    margin-right: 0;
  }

  .navbar ul li {
    margin: 20px 0;
    letter-spacing: 0.5mm;
  }

  .nav-bar img {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .toggle-container {
    margin: 20px 0 20px 0;
    transform: scale(0.9);
  }

  .card2 .txt-box[data-scroll="in"] {
    transform: translateY(0px);
  }

  .card2 .info[data-scroll="in"] {
    transform: translateY(0px);
  }

  .card2 .connection:first-child[data-scroll="in"] {
    transform: translateY(0px);
  }

  .card2 .connection:nth-child(2)[data-scroll="in"] {
    transform: translateY(5px);
  }

  .card2 .connection:last-child[data-scroll="in"] {
    transform: translateY(10px);
  }

  .homepage h1 {
    font: 800 70px "Inconsolata";
  }

  .homepage p {
    font: 600 27px "Inconsolata";
  }

  .about img {
    width: 50%;
    padding: 0 0 30px 0;
  }

  .about-txt {
    width: 90% !important;
  }

  .domains {
    margin: auto;
    width: 80% !important;
  }

  .title h2 {
    font: 800 3rem "Inconsolata";
  }

  .title p {
    font: 700 1rem "Inconsolata";
  }

  .socials ul li a {
    font-size: 30px;
  }

}

@media screen and (max-width: 420px) {
  .toggle-container {
    transform: scale(0.8);
  }
  
  .nav-bar img {
    margin-left: 10px;
  }

  .homepage h1 {
    font: 800 60px "Inconsolata";
  }

  .homepage p {
    font: 600 22px "Inconsolata";
  }

  .footer {
    font: 600 14px "Inconsolata";
    padding: 10px 40px;
  }

  .socials ul li a {
    margin: 0 5px;
    font-size: 27px;
  }
}


/* ScrollOut animations */
[data-scroll] {
  transition: opacity 0.6s, transform 1s cubic-bezier(.46, 1.48, .18, .81);

}

[data-scroll="in"] {
  opacity: 1;
}

[data-scroll="out"] {
  opacity: 0;
}