.youtube-page {
    position: relative;
    margin: auto;
    width: 70%;
    height: 60vh;
}
@media screen and (max-width: 1280px) {
    .youtube-page {
        height: 50vh;
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .youtube-page {
        height: 25vh;
        width: 90%;
    }
}